body {
    background-color: #ECE3F0;
    font-family: 'Roboto' , sans-serif;
}

a {
    color: #6ECB5A;
}

h1 {
    font-size: 70px;
    margin-top: 5px;
    margin-left: 30px;
    font-family: "Truculenta", sans-serif;
}

.weather-app-content {
    background: #F0F7E0;
    max-width: 650px;
    margin: 80px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 8px;
    padding: 30px;
}

header {
     border-bottom: 1px solid #F0F7E0;
     padding: 0 0 30px 0;
}

.search-input {
    background-color: #F5F6F0;
    border: none;
    border-radius: 6px; 
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
    color: #92459B;
} 

.search-button {
    background: #6ECB5A;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: #92459B;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;

}

.weather-app-temperature-container{
    display: flex;
}

.weather-app-icon {
    font-size: 50px;
    margin-top: 30px;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    font-family: "Truculenta", sans-serif;
}

.weather-app-unit {
    margin-top: 30px;
    font-size: 25px;
}

.weather-app-details { 
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 27px;
    border: #92459B;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 6px;
    border-width: 5px;
}

.weather-app-details strong {
    color:#92459B;
}

footer{
    border-top: 1px solid #F0F7E0;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}